/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.content {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 20px;
}

.img {
    height: 150px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}